.cta {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#e29b15, #ffa600d2);
}

.cta > .cta-title {
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: 6rem;
}

.cta > .cta-title > .cta-img {
  padding-bottom: 1rem;  
}

.cta > .cta-title > .cta-img > img {
  height: 2.5rem;
  width: 2.5rem;  
}

.cta > .cta-title > span {  
  color: #252525;
  font-size: 3rem;
  font-style: italic;
  font-weight: 900;  
}

.cta > .cta-texts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: #665858;
  margin: 2rem 0;
  font-size: 1.5rem; 
  padding: 0 20rem; 
}

.cta > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: black;
  width: 13rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border-width: thin;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.cta > button > img {  
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
}

.cta > button > span {  
  color: white;
  font-size: 1.25rem;
  text-transform: uppercase;
}

/* MOBILE */
@media (max-width: 768px) {
  .cta > .cta-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #665858;
    margin: 2rem 0;
    font-size: 1rem;     
    padding: 0 0; 
  }

  .cta > .cta-title {    
    padding-top: 3rem;
  }

  .cta > .cta-title > span {    
    text-align: center;
    font-size: 2rem;
  }

  .cta > button {    
    width: 8rem;
    height: 3.5rem;
    margin-top: 1rem; 
    margin-bottom: 2rem;
  }

  .cta > button > span {      
    font-size: 0.75rem;
    font-weight: bolder;   
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1100px) {
 
}